:root {
  --foreground: {{foreground}};
  --background: {{background}};
  --background-alt: rgba({{background | rgb}},0.25);
  --cursor: {{cursor}};

  --color0: {{color0}};
  --color-alt0: rgba({{color0 | rgb}},0.5);
  --color1: {{color1}};
  --color-alt1: rgba({{color1 | rgb}},0.5);
  --color2: {{color2}};
  --color-alt2: rgba({{color2 | rgb}},0.5);
  --color3: {{color3}};
  --color-alt3: rgba({{color3 | rgb}},0.5);
  --color4: {{color4}};
  --color-alt4: rgba({{color4 | rgb}},0.5);
  --color5: {{color5}};
  --color-alt5: rgba({{color5 | rgb}},0.5);
  --color6: {{color6}};
  --color-alt6: rgba({{color6 | rgb}},0.5);
  --color7: {{color7}};
  --color-alt7: rgba({{color7 | rgb}},0.5);
  --color8: {{color8}};
  --color-alt8: rgba({{color8 | rgb}},0.5);
  --color9: {{color9}};
  --color-alt9: rgba({{color9 | rgb}},0.5);
  --color10: {{color10}};
  --color-alt10: rgba({{color10 | rgb}},0.5);
  --color11: {{color11}};
  --color-alt11: rgba({{color11 | rgb}},0.5);
  --color12: {{color12}};
  --color-alt12: rgba({{color12 | rgb}},0.5);
  --color13: {{color13}};
  --color-alt13: rgba({{color13 | rgb}},0.5);
  --color14: {{color14}};
  --color-alt14: rgba({{color14 | rgb}},0.5);
  --color15: {{color15}}; 
  --color-alt15: rgba({{color15 | rgb}},0.5); 
}
