@import "/home/torch/.cache/matugen/colors-gtk.css";

* {
  all: unset;
  color: @on_surface;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans Thai", monospace;
  min-height: 0;
  transition: 200ms;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @background;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

tooltip label {
  padding: 5px;
}

#battery,
#clock,
#custom-notification,
#media,
#submap,
#tray,
#windows {
  background: @background;
  border-radius: 20px;
  padding: 5px;
}

#clock:hover,
#custom-notification:hover,
#mpris:hover,
#pulseaudio:hover,
#windows:hover {
  background: @background_hover;
  border-radius: 10px;
}

#windows {
  margin-right: 2px;
}

#window {
  padding-right: 10px;
}

#workspaces button {
  background: @surface_bright;
  border-radius: 1em;
  margin-right: 5px;
  padding: 0 8px;
}

#workspaces button:hover {
  background: @surface_bright_hover;
  border-radius: 10px;
}

#tray {
  margin: 0 2px 0 3px;
  padding: 0 10px;
}

#tray menu {
  background: @background;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  color: @on_surface;
  padding: 10px;
}

#tray menuitem {
  border-radius: 10px;
  padding: 5px;
}

#tray menuitem:hover {
  background: @background_hover;
  font-weight: bold;
}

#custom-notification {
  margin: 0 2px 0 3px;
  padding-left: 12px;
  padding-right: 15px;
}

#clock {
  padding: 0 10px;
}

#submap {
  margin: 0 2px 0 3px;
}

#media {
  margin: 0 2px 0 3px;
}

#mpris {
  border-radius: 1em;
  margin: 0 2px 0 0;
  padding: 0 5px;
}

#pulseaudio {
  border-radius: 1em;
  margin: 0 0 0 3px;
  padding: 0 5px;
}

#battery {
  margin-left: 3px;
  padding: 0 10px;
}
