* {
  all: unset;
  font-family: JetBrainsMono Nerd Font, monospace;
}

window#waybar {
  background-color: alpha(#282828, 0.5);
}

box.module,
label.module {
  background-color: #3c3836;
  border-bottom: 4px solid #32302f;
  color: #ddc7a1;
  padding: 0 5px;
  margin: 0 2.5px;
}

#workspaces button:hover,
#clock:hover,
#mpris:hover,
#bluetooth:hover,
#pulseaudio:hover,
#language:hover,
#tray menuitem:hover {
  background-color: #504945;
  border-bottom: 4px solid #32302f;
}

#workspaces {
  margin-left: 10px;
}

#language {
  margin-right: 10px;
}

#workspaces button {
  padding: 0 3px;
}

#workspaces button.focused {
  color: #d8a657;
}

#workspaces button.urgent {
  color: #e96962;
}

#tray menu {
  background-color: #3c3836;
  border-bottom: 4px solid #32302f;
  padding: 10px;
}
