@import "~/.config/rofi/config.rasi"

configuration {
  show-icon: false;
}

/* ---- Listview ---- */
listview {
  columns: 1;
}

/* ---- Inputbar ---- */
inputbar {
  children: ["entry", "dummy", "prompt" ];
}
