@import "~/.config/rofi/config.rasi"

configuration {
  show-icon: false;
}

/* ---- Window ---- */
window {
  border-radius: 32px;
}

/* ----- Main Box ----- */
mainbox {
  children: [ "inputbar" ];
}

/* ---- Inputbar ---- */
inputbar {
  children: ["entry", "prompt" ];
}

/* ---- Entry input ---- */
entry {
  expand: true;
}
