* {
  font-family: "Noto Sans", "Noto Sans Thai", "Symbols Nerd Font", monospace;
  font-weight: bold;
  background-image: none;
  box-shadow: none;
}

@import url("/home/torch/.cache/wallust/template/colors-gtk.css");

window {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 24;
  border: 0.5px solid @color15;
  text-decoration-color: @foreground;
  color: @color1;
  background-color: @color-alt1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  margin: 20px;
  padding: 0px;
}

button:focus,
button:active,
button:hover {
  background-color: @color-alt5;
  background-size: 25%;
  outline-style: none;
  color: @foreground;
  margin: 5px;
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
