* {
  font-family: JetBrainsMono Nerd Font Propo, monospace;
  background-image: none;
  box-shadow: none;
  border: none;
  transition: none;
}

window {
  background-color: rgba(0, 0, 0, 0.5)
}

button {
  font-size: 24px;
  background-color: #3c3836;
  border-bottom: 5px solid #32302f;
  text-decoration-color: #ddc7a1;
  color: #ddc7a1;
  border-radius: 0;
  padding: 0;
  margin: 10px 0;
}

button:focus, button:active, button:hover {
  background-color: #504945;
  border-bottom: 7px solid #32302f;
  outline-style: none;
}
