@import "/home/torch/.cache/matugen/colors-gtk.css";

* {
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans Thai";
  transition: 200ms;
  border: none;
  box-shadow: none;
  outline: none;
  color: @on_surface;
}

.control-center {
  background: @background;
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.widget-title {
  margin: 10px;
}

.widget-title > label {
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 10px;
}

.widget-title button {
  background: @surface_container;
  border-radius: 20px;
}

.widget-title button:hover {
  background: @surface_container_hover;
  border-radius: 10px;
}

.widget-title button:active,
.widget-title button:hover:active {
  background: @on_primary;
  border-radius: 10px;
}

.widget-title button label {
  font-weight: normal;
}

.widget-dnd {
  margin: 0 10px 0 15px;
}

.control-center-dnd,
.control-center .notification-row .notification-background .notification,
.floating-notifications.background .notification-row .notification-background .notification {
  background: @surface_container;
}

.control-center-dnd:hover,
.control-center .notification-row .notification-background .notification-action:hover,
.control-center .notification-row .notification-background .notification-default-action:hover,
.floating-notifications.background .notification-default-action:hover,
.floating-notifications.background .notification-action:hover {
  background: @surface_container_hover;
  border-radius: 10px;
}

.control-center-dnd > slider {
  background: @primary;
  border-radius: 20px;
}

.control-center-dnd:checked > slider {
  background: @on_primary;
}

.control-center-dnd:checked {
  background: @secondary;
  border-radius: 20px;
}

.control-center-dnd:hover:checked {
  border-radius: 10px;
}

.control-center .notification-row,
.control-center .notification-row .notification-background,
.control-center .notification-group {
  margin: 0;
  padding: 0;
}

.control-center .notification-row {
  margin: 5px 10px;
}

.control-center .notification-row .notification-background .notification {
  border-radius: 20px;
}

.notification.critical progress {
  background-color: @error;
}

.control-center .notification-row .notification-background .notification.critical,
.control-center .notification-row .notification-background .notification.critical .notification-action:hover,
.control-center .notification-row .notification-background .notification.critical .notification-default-action:hover,
.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @error;
}

.widget-mpris .widget-mpris-player {
  margin: 0 10px;
  border-radius: 20px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 5px 10px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 8px;
  border-radius: 20px;
}