@import "mocha.css";

* {
  all: unset;
  font-family:
    JetBrainsMono Nerd Font Propo,
    sans-serif;
}

window#waybar {
  background: transparent;
}

box.module,
label.module {
  background: alpha(@base, 0.5);
  font-weight: bold;
  font-size: 14px;
  color: @text;
  border-radius: 1rem;
  border: 1px solid @surface2;
  padding: 0 7px;
  margin: 0 3px;
}

#workspaces {
  margin: 0 3px 0 0;
}

#workspaces button {
  padding: 0 4px;
  font-weight: normal;
}

#workspaces button.active {
  color: @mauve;
  font-weight: bold;
}

#workspaces button:hover {
  background: @surface2;
}

#workspaces button.urgent {
  color: @red;
}

window#waybar.empty #window {
  background-color: transparent;
  border: transparent;
}

#language {
  margin: 0 0 0 3px;
}
